$main-color: #1eacc7;
$second-color: #ff5656;

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
    height: 50px
}

.menu {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;

    &_item:last-child {
        border-right: none;
    }

    &_item {
        border-right: 2px dotted grey;
        padding-right: 28px;
    }

    &_link {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 5;
}
.hamburger {
    display: none;
}
.mr-none {
    margin-right: 0;
}
.width-full {
    width: 100%;
}
.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 50px;
    width: 100%;
    &_box2 {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-content: end;
    }
    &_logo {
        display: block;
        max-width: 100%;
        margin-top: 16px;
    }

    &_official {
        font-size: 13px;
        font-weight: 100;
        color: #fff;
        margin-top: 6px;
    }

    &_call {
        display: block;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }

    &_phone {
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        line-height: 12px;
    }

    &_btn {
        margin-top: 20px;
        height: 46px;
        width: 170px;
        border: none;
        border-radius: 4px;
        box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.12);
        background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        color: #ffffff;

    }
}

.promo {
    min-height: 800px;
    padding: 150px 0px 135px 0px;
    background: url('/src/img/bg/uber_bg.jpg') center center/cover no-repeat;

    &_header {
        color: #FFF;
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    &_subheader {
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        line-height: 36px;
        text-align: center;
        margin: 0;
        margin-top: 22px;
    }

    &_descr {
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 23px;
    }

    &_btn {
        display: block;
        height: 63px;
        width: 259px;
        border: none;
        border-radius: 4px;
        box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.12);
        background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
        margin: 118px auto 0 auto;
    }
}





.label {
    position: relative;
    width: 112px;
    height: 24px;
    margin: 0 auto;
    padding: 5px 12px;
    background-color: black;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;

    &_white {
        background-color: #fff;
        color: #000;
    }

    &_min {
        width: 76px;
    }
}

.subtitle {
    position: relative;
    margin-top: 19px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    z-index: 2;
    color: #222;

    &_white {
        color: #ffffff;
    }

}

.title {
    position: relative;
    margin-bottom: 0;
    margin-top: 38px;
    line-height: 38px;
    color: #222;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;

    &_white {
        color: #fff;
    }
}
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    .reasons_round {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: $main-color;
        border-radius: 100%;
    }

    .reasons_descr {
        width: 343px;

        .reasons_subtitle {
            line-height: 21px;
            color: $main-color;
            font-size: 17px;
            font-weight: 400;
        }

        .reasons_text {
            color: #202020;
            font-size: 15px;
            font-weight: 300;
            line-height: 21px;
        }
    }
}

.mobile {
    min-height: 864px;
    padding: 22px 0 79px 0;
    background: url('/src/img/bg/mobile_bg.jpg') center center/cover no-repeat;

    .row {
        margin-top: 32px;
    }


}

.mobile_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 16px;

    &_1 {
        background: url('/src/img/cards/1.jpg') center center/cover no-repeat;
    }

    &_2 {
        background: url('/src/img/cards/2.jpg') center center/cover no-repeat;
    }

    &_3 {
        background: url('/src/img/cards/3.jpg') center center/cover no-repeat;
    }

    &_4 {
        background: url('/src/img/cards/4.jpg') center center/cover no-repeat;
    }

    &_5 {
        background: url('/src/img/cards/5.jpg') center center/cover no-repeat;
    }

    &_6 {
        background: url('/src/img/cards/6.jpg') center center/cover no-repeat;
    }

    &_subtitle {
        padding: 0 15px;
        font-size: 24px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }

    &_pluss {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 29px;
        height: 29px;
        background-color: #000;
        margin: 0 auto;
        border-radius: 100%;
        cursor: pointer;

        &:active {
            width: 59px;
            height: 59px;
            transition: width 0.4s ease-out, height 0.4s ease-out;
            background-color: rgba(206, 202, 202, 0.25);

        }

        &::before {
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: #1eacc7;
        }

        &::after {
            content: '';
            position: absolute;
            transform: translateX(-50%, 50%);
            display: block;
            width: 2px;
            height: 14px;
            background-color: #1eacc7;
        }

        &:hover {

            &::before,
            &::after {
                background-color: #ce4aa2;
            }
        }

        &:active {
            &::before {
                width: 30px;
                height: 4px;
                transition: 0.3s all;
            }

            &::after {
                width: 4px;
                height: 30px;
                transition: 0.3s all;
            }
        }
    }
}

.choice {
    min-height: 895px;
    padding: 57px 0 138px 0;
    position: relative;


    .box {
        position: relative;
    }

    .black {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 499px;
        width: 100%;
        background-color: #070716;
        z-index: 1;
    }

    .content {
        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        z-index: 2;
    }

    &_img {
        display: block;
        margin: 56px auto 0 auto;
    }

    &_descr {
        text-align: center;
        color: #222222;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
    }
}

.require_container {
    margin-top: 35px;
}

ul {
    list-style-type: none;
}

.ul_spacing {
    margin-bottom: 30px;
}

%require-title-style {
    font-size: 22px;
    font-weight: 400;
}

.require_title_blue {
    color: #1CA8C3;
    @extend %require-title-style;
}

.require_title_red {
    color: #FF5656;
    @extend %require-title-style;
}

.blue_check {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-image: url('/src/img/blue_check.png');
}

.red_check {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-image: url('/src/img/red_check.png');
}

.world {
    position: relative;
    background: url('/src/img/bg/all_world_bg.jpg') center center/cover no-repeat;
    min-height: 716px;
    padding: 48px 0 40px 0;

}

.see_all_city {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #1FBAD6;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    width: 223px;
    line-height: 68px;
    cursor: pointer;
}
.xs-visible {
    display: none;
}